<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461405600632-r804unek3gmat17mmr5faj77f5b3i5ea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461405600632-r804unek3gmat17mmr5faj77f5b3i5ea</string>
	<key>API_KEY</key>
	<string>AIzaSyBrQqA6j1b196PY4uLfvLitjfgXCgmRM0I</string>
	<key>GCM_SENDER_ID</key>
	<string>461405600632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.levi.together</string>
	<key>PROJECT_ID</key>
	<string>together-4dc98</string>
	<key>STORAGE_BUCKET</key>
	<string>together-4dc98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461405600632:ios:9b27f8eadf4bbbc950668d</string>
</dict>
</plist>